<!doctype html>
<html lang="en" style="--color: $color$">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <title>$site_title$</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap">
  <link rel="stylesheet" href="/style.css">
  <link rel="alternate" type="application/atom+xml" title="$site_title$" href="/feed.xml">
  ${social()}
</head>
<body>
  <main class="index">
    <ul>
$body$
    </ul>
  </main>
</body>
</html>
